<!DOCTYPE html>
<html>

<head>

    <title>Select Subject</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

<h1>Select Subject</h1>

<br>

<a href="/select_questions?subject=C">
<button>C Programming</button>
</a>

<br><br>

<a href="/select_questions?subject=Python">
<button>Python</button>
</a>

<br><br>

<a href="/select_questions?subject=Java">
<button>Java</button>
</a>

<br><br>

<a href="/select_questions?subject=DBMS">
<button>DBMS</button>
</a>

<br><br>

<a href="/select_questions?subject=DSA">
<button>DSA</button>
</a>

<br><br>

<a href="/select_questions?subject=Aptitude">
<button>Aptitude</button>
</a>

</div>

</body>

</html>